
@media (min-width: 601px) {
    .dashboard{
        grid-template-columns: 250px 1fr;
        grid-template-rows: auto 1fr;
    }
}

@media (max-width: 600px) {
    aside{
        position: absolute;
        width: 250px;
        background-color: red;
        left: -250px;
        top: 0;
        bottom: 0;
    }
    aside.open {
        transform: translateX(250px); /* Slide it into view */
    }
    .menu-bars{
        display: block;
    }
    header {
        padding: var(--space-sm); 
    }
    .header-wrap {
        gap: var(--space-sm); 
    }
    /* Target the search bar to look like the image */
    .input-wrap {
        max-width: 45px;
        height: 45px;
        justify-content: center;
        padding: 0;
    }
    .input-wrap input {
        display: none; /* Hide the text box on mobile */
    }
    .input-wrap label {
        margin: 0; 
    }
    .header-btns {
        gap: var(--space-sm);
    }
    .menu-bars {
        display: block;
    }
}